.tourismGovernorWrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-color: #f5f5f5; /* Optional: Add a light background */
    background: linear-gradient(to bottom right, #f5f5f5, #e0e0e0); /* Subtle gradient */
}

.tourismGovernorWrapper h2 {
    color: #122c34;
}

/* Add Tourism Governor Card */
.tourismGovernor {
    border: 1px solid #122c34;
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s; /* Smooth hover transition */
}

/* Styles for Input Fields and Labels in the Governor Card */
.tourismGovernor .label {
    display: block;
    margin: 10px 0 5px;
}

.tourismGovernor input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #17455c; /* Elephant color */
    border-radius: 4px;
}

.tourismGovernor input[type="text"]:focus {
    border-color: #1a6187; /* Blumine color */
}

.tourismGovernor input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #17455c;
    border-radius: 12px; /* More rounded corners */
  }

/* Button for Creating Governor */
.tourismGovernor button {
    background-color: #1a6187; /* Blumine color */
    color: white; /* Text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 12px;
}

.tourismGovernor button:hover {
    background-color: #17455c; /* Elephant color on hover */
    color: white; /* Ensure text color stays white on hover */
    transform: translateY(-3px); /* Slight lift effect */
}

.tourismGovernor:hover {
    transform: scale(1.05); /* Slight scale up */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bigger shadow on hover */
    border-color: #1a6187; /* Change border color on hover */
  }