/* Container Styling */
.RegistrationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 90vh;
}

/* Form Styling */
.RegistrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Header Styling */
.register-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.register-header img {
    width: 110px;
    height: auto;
    padding-bottom: 10px;
}

.register-header p {
    color: #144d6b;
    font-weight: 700;
    font-size: large;
}

/* Title Styling */
.Title {
    color: #144d6b;
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}

/* Input Styling */
.RegistrationContainer input[type="text"],
.RegistrationContainer input[type="password"],
.RegistrationContainer input[type="date"],
.RegistrationContainer select {
    border-radius: 10px;
    border: 1px solid #1a6187;
    background-color: white;
    width: 50%;
    height: 35px;
    padding-left: 10px;
    margin-top: 3%;
    font-weight: bold;
    transition: border-color 0.3s;
}

.RegistrationContainer input[type="text"]:focus,
.RegistrationContainer input[type="password"]:focus,
.RegistrationContainer input[type="date"]:focus,
.RegistrationContainer select:focus {
    border-color: #144d6b;
}

/* Input Styling */
.styledInput {
    border-radius: 10px;
    border: 1px solid #1a6187;
    background-color: white;
    width: 50%;
    height: 35px;
    padding-left: 10px;
    margin-top: 3%;
    font-weight: bold;
    transition: border-color 0.3s;
}

.styledInput:focus {
    border-color: #144d6b;
}

/* Password Wrapper */
.PasswordWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.TogglePassword {
    position: absolute;
    right: 26%;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #1a6187;
}

/* Button Styling */
.RegisterButton {
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #1a6187;
    width: 25%;
    height: 40px;
    margin-top: 4%;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.RegisterButton:hover {
    background-color: #144d6b;
}

/* Error and Redirect Messages */
.Error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.LoginRedirect {
    margin-top: 10px;
    font-weight: bold;
}

.LoginRedirect a {
    color: #0056b3;
    cursor: pointer;
    text-decoration: none;
}

.LoginRedirect a:hover {
    text-decoration: underline;
}

/* Scrollbar Customization */
.RegistrationContainer::-webkit-scrollbar {
    width: 10px;
}

.RegistrationContainer::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.RegistrationContainer::-webkit-scrollbar-thumb {
    background-color: #1a6187;
    border-radius: 13px;
}