/* Container Styling */
.SigninContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.SigninForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Header Styling */
.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.Header img {
    width: 110px;
    height: auto;
    padding-bottom: 10px;
}

.Header p {
    color: #2C6B5A;
    font-weight: 700;
    font-size: large;
}

.Title {
    color: #144d6b;
    margin-bottom: 15px;
    font-size: xxx-large;
    font-weight: 700;
    text-align: center;
}

/* Input Styling */
.InputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
}

.Input {
    border-radius: 10px;
    border: 1px solid #1a6187;
    background-color: white;
    width: 50%;
    height: 35px;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 3%;
    transition: border-color 0.3s;
    cursor: pointer;
}

.Input:focus {
    border-color: #144d6b;
}

/* Password Wrapper */
.PasswordWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.TogglePassword {
    position: absolute;
    right: 26%;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #1a6187;
}

/* Button Styling */
.SigninButton {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1a6187;
    width: 25%;
    height: 40px;
    margin-top: 4%;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
}

.SigninButton:hover {
    background-color: #144d6b;
}

/* Error Message */
.Error {
    color: red;
    font-weight: normal;
    margin-bottom: 2%;
}

/* Redirect Message */
.Redirect {
    margin-top: 10px;
    font-weight: bold;
}

.Redirect a {
    color: #0056b3;
    cursor: pointer;
    text-decoration: none;
}

.Redirect a:hover {
    text-decoration: underline;
}