.tag-card{
    border: 0.3px solid #17455c;
    border-radius: 80px;
    padding: 16px;
    max-width: 300px;
    width:auto;
    margin: 16px auto;
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1); */
    background-color: rgba(23,69,92,1);
    
  }
.tag-card-form{
    display: flex;
    flex-direction: column;
  }
  
.tag-card-fields {
    margin-bottom: 8px;
  }
  
.tag-card-label {
    margin-bottom: 4px;
    display: block;
    font-weight: bold;
    color : #f9f9f9;
  }
  
.tag-card-input {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    /* border: 10px solid #17455c; */
    width: 60%;
    box-sizing: border-box;
  }
  
.tag-card-button {
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    background-color: #11c443;
    color: #ffffff;
    font-weight: bold;
    cursor:auto;
    transition: background-color 0.1s ease;
  }
.tag-card-button:hover {
    background-color: #2eb00a;
  }
  
.tag-card-details {
    line-height: 1.6;
    color:#ffffff;
    width: 50%;
  }
  
.tag-card-details p {
    margin: 8px 0;
    display:initial;
  }
  