.tag-card{
  border: 0.3px solid #ffffff;
  border-radius: 20px;
  padding: 16px;
  max-width: 240px;
  width: 100%; 
  margin: 14px auto;
  background-color: rgba(100,100,100,0.3);
  
  }
.tag-card-form{
    display: grid;
    place-items:inherit;
  }
  
.tag-card-fields {
    margin-bottom: 8px;
    width: 100%;

  }
  
.tag-card-label {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box;
  }
  
.tag-card-input {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  width: 100%; /* Take full width within the form */
  box-sizing: border-box;
  
  }
  
.tag-card-button {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background-color: #11c443;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: center;
  margin:auto;
  }
.tag-card-button:hover {
    background-color: #269109;
    color:#ffffff;
  }
  
.tag-card-details {
  line-height: 1.6;
  color: #ffffff;
  text-align: center; 
  width: 100%;
  }
  
.tag-card-details p {
    margin: auto;
  }
  