.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input{
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.addTag {
  background-color: #1A6187;
  color: white;
}

.addTag:hover {
  background-color: #17455C;
}

.showTags {
  background-color: #038b1c;
  color: white;
}

.showTags:hover {
  background-color: #036b14;
}

.tagsList {
  margin-top: 20px;
}

.tagScroll {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.tagGrid {
  list-style-type: none;
  padding: 0;
}

.tagItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.tagItem:hover {
  transform: scale(1.02);
}

.tagButtons button {
  padding: 5px 10px;
  font-size: 12px;
}

.editButton {
  background-color: #1A6187;
  color: white;
}

.editButton:hover {
  background-color: #17455C;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.success {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.cancelButton {
  background-color: #6c757d;
  color: white;
}

.cancelButton:hover {
  background-color: #5a6268;
}
