.container {
    position: relative;
    padding: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profileButton {
    position: absolute;
    top: 60px;
    right: 50px;
    display: flex;
    align-items: center;
    background-color: #1a6187;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.profileButton:hover {
    background-color: #122c34;
}

.profileIcon {
    margin-right: 5px;
    font-size: 20px; /* Adjust icon size as needed */
}
